body {background-color: #D9EA84;}
h1 {font-family: Helvetica; font-size: 24pt; color:#8C5437;}
h2 {font-family: Arial; font-size: 18pt; color: #381A6A;}
a {font-family: Helvetica; color:#8C5437; text-decoration: none;}
a:hover {color:white;}